body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  background-color: white;
  color: #434455;
}

ul {
  margin: 0;
  padding-left: 0;
  list-style-type: none;
}

img {
  display: block;
}

/*------------------------Header----------------------*/

.main-header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.main-header .container {
  margin: 0 auto;
  max-width: 768px;
  height: 56px;
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-logo {
  display: block;
  padding: 16px 0;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.header-logo-studio,
.footer-logo-studio {
  color: #2e2f42;
}

.main-navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}

.header-navigation-list {
  display: none;
}

.header-address-list {
  display: none;
}

.burger-menu {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 24px;
  height: 24px;
  padding: 16px 0;
}

.icon-menu {
  display: block;
  cursor: pointer;
  fill: #2f2f37;
}

/*------------------------Header 768px----------------------*/

@media (min-width: 768px) {
  .main-header .container {
    max-width: 1158px;
    height: 72px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 120px;
  }

  .burger-menu {
    display: none;
  }

  .header-navigation-list {
    display: flex;
    gap: 40px;
  }

  .header-navigation-list-item .link {
    display: block;
    margin: 0;
    padding: 24px 0;
    text-decoration: none;
    font-weight: 500;
    color: #2e2f42;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-studio {
    display: block;
    position: relative;
    margin: 0;
    padding: 24px 0;
    text-decoration: none;
    font-weight: 500;
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    left: 0;
    bottom: -1px;
    height: 4px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .header-navigation-list-item .link:hover,
  .header-navigation-list-item .link:focus {
    color: #404bbf;
  }

  .header-address-list {
    display: flex;
    flex-direction: column;
    gap: 12px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .header-address-list-item .link {
    display: block;
    margin: 0;
    text-decoration: none;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #434455;
    font-style: normal;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-address-list-item .link:hover,
  .header-address-list-item .link:focus {
    color: #404bbf;
  }
}

/*------------------------Header 1158px----------------------*/

@media (min-width: 1158px) {
  .header-address-list {
    padding-top: 0;
    padding-bottom: 0;
    flex-direction: row;
    gap: 40px;
  }

  .header-logo {
    padding: 24px 0;
    margin-right: 76px;
  }

  .header-address-list-item .link {
    font-size: 16px;
    padding: 24px 0;
  }
}

/*------------------------Baner----------------------*/

.baner {
  max-width: 768px;
  padding: 72px 0;
  margin: 0 auto;
  background-color: #2e2f42;
  background-image: linear-gradient(
      to bottom,
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/people-office.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

@media (min-resolution: 2x) {
  .baner {
    background-image: linear-gradient(
        to bottom,
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/people-office@2x.jpg");
  }
}

.baner-title {
  margin: auto;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  max-width: 216px;
  margin-bottom: 72px;
  text-align: center;
  color: white;
}

.baner-order-button {
  display: block;
  line-height: 150%;
  font-weight: 500;
  letter-spacing: 0.04em;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background-color: #4d5ae5;
  cursor: pointer;
  margin: auto;
  color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.baner-order-button:hover,
.baner-order-button:focus {
  background: #404bbf;
}

/*------------------------Baner 768px----------------------*/

@media (min-width: 768px) {
  .baner {
    max-width: 1440px;
    padding: 112px 0;
  }

  .baner-title {
    font-size: 56px;
    line-height: 107%;
    max-width: 496px;
    margin-bottom: 36px;
  }
}

/*------------------------Baner 1158px----------------------*/

@media (min-width: 1158px) {
  .baner {
    padding: 188px 0;
  }

  .baner-title {
    margin-bottom: 48px;
  }
}

/*------------------------Advantages----------------------*/

.advantages {
  padding: 96px 0;
}

.advantages .container {
  margin: 0 auto;
  max-width: 768px;
  padding: 0 16px;
  display: flex;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-advantages-container {
  display: none;
}

.advantages-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.advantages-list-item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #2e2f42;
  text-align: center;
}

.advantages-list-item-text {
  margin: 0;
  font-weight: 500;
}

/*------------------------Advantages 768px----------------------*/

@media (min-width: 768px) {
  .advantages .container {
    max-width: 1158px;
  }

  .advantages-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .advantages-list-item-title {
    text-align: left;
  }

  .advantages-list-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

/*------------------------Advantages 1158px----------------------*/

@media (min-width: 1158px) {
  .advantages {
    padding: 120px 0;
  }

  .advantages .container {
    margin: 0 auto;
    max-width: 1158px;
    padding: 0 15px;
    display: flex;
  }

  .icon-advantages-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background: #f4f4fd;
    margin-bottom: 8px;
  }

  .advantages-list {
    display: flex;
    gap: 24px;
  }

  .advantages-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }

  .advantages-list-item-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 120%;
  }

  .advantages-list-item-text {
    margin: 0;
    font-weight: 400;
  }
}

/*------------------------Our Team----------------------*/

.our-team {
  padding: 96px 0;
  background-color: #f4f4fd;
}

.our-team .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 768px;
  padding: 0 28px;
}

.our-team-title {
  margin: 0;
  display: block;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

.our-team-list {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-self: center;
  row-gap: 72px;
}

.our-team-list-item {
  max-width: 264px;
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #ffffff;
}

.our-team-list-item-wrapper {
  padding: 32px 0;
}

.our-team-image {
  border-radius: 0px 0px 4px 4px;
  margin: 0;
}

.our-team-list-item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  text-align: center;
  color: #2e2f42;
}

.our-team-list-item-text {
  margin: 0;
  margin-bottom: 8px;
  text-align: center;
}

.our-team-icon-list {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.our-team-icon-list-item {
  width: 40px;
  height: 40px;
}

.icon {
  fill: #f4f4fd;
}

.our-team-icon-list-item .link {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  width: 100%;
  height: 100%;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.our-team-icon-list-item .link:hover,
.our-team-icon-list-item .link:focus {
  background-color: #404bbf;
}

/*------------------------Our Team 768px----------------------*/

@media (min-width: 768px) {
  .our-team .container {
    max-width: 768px;
    padding: 0 108px;
  }

  .our-team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
  }

  .our-team-list-item {
    width: calc((100% - 1 * 24px) / 2);
  }
}

/*------------------------Our Team 1158px----------------------*/

@media (min-width: 1158px) {
  .our-team {
    padding: 120px 0;
  }

  .our-team .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .our-team-list {
    flex-wrap: nowrap;
  }

  .our-team-list-item {
    width: calc((100% - 3 * 24px) / 4);
  }
}

/*------------------------Portfolio----------------------*/
.portfolio {
  padding: 96px 0;
}

.portfolio .container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 0 auto;
  max-width: 320px;
  padding: 0 16px;
}

.portfolio-list {
  display: flex;
  flex-direction: column;
  row-gap: 48px;
}

.portfolio-list-item {
  width: 288px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.portfolio-list-item:hover .overlay-text {
  transform: translateY(0);
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay-text {
  margin: 0;
  position: absolute;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  top: 0;
  width: 100%;
  height: 100%;
  color: #f4f4fd;
  padding: 40px 32px;
  background-color: #4d5ae5;
}

.portfolio-list-item-wrapper {
  margin: 0;
  border-bottom: 1px solid #e7e9fc;
  border-left: 1px solid #e7e9fc;
  border-right: 1px solid #e7e9fc;
  padding: 32px 16px;
}

.portfolio-list-item-title {
  margin: 0;
  margin-bottom: 8px;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  color: #2e2f42;
}

.portfolio-list-item-text {
  margin: 0;
}

.portfolio-title {
  margin: 0;
  display: block;
  margin-bottom: 72px;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  color: #2e2f42;
  text-transform: capitalize;
  text-align: center;
}

/*------------------------Portfolio 768px----------------------*/
@media (min-width: 768px) {
  .portfolio .container {
    max-width: 768px;
  }

  .portfolio-list {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 24px) / 2);
  }
}

/*------------------------Portfolio 1158px----------------------*/

@media (min-width: 1158px) {
  .portfolio {
    padding-top: 120px 0;
  }

  .portfolio .container {
    max-width: 1158px;
    padding: 0 15px;
  }

  .portfolio-list {
    row-gap: 48px;
    column-gap: 24px;
  }

  .portfolio-list-item {
    width: calc((100% - 48px) / 3);
  }
}

/*------------------------Footer----------------------*/
.main-footer {
  margin: 0 auto;
  background-color: #2e2f42;
  color: #f4f4fd;
}

footer .container {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  padding: 96px 16px;
  row-gap: 72px;
  max-width: 320px;
}

.footer-logo {
  display: block;
  margin-bottom: 16px;
  font-family: "Raleway", sans-serif;
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  color: #4d5ae5;
}

.footer-logo-studio {
  color: #f4f4fd;
}

.footer-text {
  margin: 0;
  width: 288px;
  color: #f4f4fd;
}

.footer-text-social-media {
  font-weight: 500;
  font-size: 16px;
  margin: 0;
  color: #fff;
  margin-bottom: 16px;
  text-align: center;
}

.footer-icon-list {
  display: flex;
  justify-content: center;
  gap: 16px;
}

.footer-icon-list-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icon-list-item .link:hover,
.footer-icon-list-item .link:focus {
  background-color: #31d0aa;
}

.footer-form-container {
  display: flex;
  flex-direction: column;
  row-gap: 16px;
}

.footer-form-label {
  margin: 0;
  font-weight: 500;
  color: #fff;
  text-align: center;
}

.footer-input-subscribe {
  width: 288px;
  height: 40px;
  padding-left: 16px;
  margin-bottom: 16px;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  opacity: 0.3;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #ffffff;
}

.footer-input-subscribe::placeholder {
  font-size: 12px;
  opacity: 0.6;
  color: #ffffff;
}

.footer-button-subscribe {
  display: flex;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  min-width: 165px;
  height: 40px;
  border-radius: 4px;
  background-color: #4d5ae5;
  font-weight: 500;
  letter-spacing: 0.04em;
  color: #fff;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-button-subscribe:hover,
.footer-button-subscribe:focus {
  background: #404bbf;
}

.footer-icon-subscribe {
  margin-left: 16px;
  fill: white;
}

/*------------------------Footer 768px----------------------*/

@media (min-width: 768px) {
  footer .container {
    max-width: 768px;
    padding-left: 108px;
    padding-top: 96px;
    padding-bottom: 96px;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
  }

  .footer-logo {
    text-align: left;
  }

  .footer-text {
    width: 264px;
  }

  .footer-text-social-media {
    text-align: left;
  }

  .footer-form-label {
    text-align: left;
  }

  .footer-input-subscribe {
    width: 264px;
    margin-bottom: 0;
  }

  .footer-form-subscribe {
    display: flex;
    flex-direction: row;
    column-gap: 24px;
  }
}
/*------------------------Footer 1158px----------------------*/
@media (min-width: 1158px) {
  footer .container {
    margin: 0 auto;
    padding: 100px 15px;
    max-width: 1158px;
    flex-wrap: nowrap;
    gap: 0;
  }

  .footer-logo-wrapper {
    margin-right: 120px;
  }

  .footer-social-wrapper {
    margin-right: 80px;
  }

  .footer-form-subscribe {
    display: flex;
    gap: 24px;
  }

  .footer-input-subscribe::placeholder {
    opacity: 1;
    color: #ffffff;
  }

  .footer-input-subscribe {
    opacity: 1;
  }
}

/*------------------------Modal Window----------------------*/

.modal-window-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  /*padding: 8px 16px;*/
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
}

.modal-window-container.is-open {
  opacity: 1;
  pointer-events: all;
}

.modal-window {
  position: absolute;
  display: flex;
  align-content: center;
  flex-direction: column;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  height: 623px;
  padding: 72px 16px 24px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-widow-close-button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-close {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-widow-close-button:hover,
.modal-widow-close-button:focus {
  border: none;
  background-color: #404bbf;
}

.modal-widow-close-button:hover .icon-close,
.modal-widow-close-button:focus .icon-close {
  fill: white;
}

.modal-window-title {
  margin: 0;
  margin-bottom: 16px;
  font-weight: 500;
  text-align: center;
  color: #2e2f42;
}

.modal-label-wrapper {
  margin-bottom: 8px;
}

.modal-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.modal-input-wrapper {
  position: relative;
}

.modal-input-field {
  outline: transparent;
  background-color: transparent;
  width: 100%;
  height: 40px;
  padding-left: 38px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-input-field:focus {
  border-color: #4d5ae5;
}

.modal-label-wrapper:focus-within .input-icon {
  fill: #4d5ae5;
}

.input-icon {
  position: absolute;
  left: 16px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-label-comment-wrapper {
  margin-bottom: 16px;
}

.modal-user-comment {
  width: 100%;
  height: 120px;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  background-color: transparent;
  padding: 8px 16px;
  outline: transparent;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-user-comment:focus {
  border-color: #4d5ae5;
}

.modal-checkbox-wrapper {
  margin-bottom: 24px;
  display: flex;
}

.modal-checkbox-label {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
}

.checkbox-icon {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  fill: transparent;
  cursor: pointer;
  margin-right: 8px;
}

.modal-checkbox-wrapper input:checked + .modal-checkbox-label .checkbox-icon {
  background-color: #404bbf;
  border: none;
  fill: #f4f4fd;
}

.modal-checkbox-label-link {
  display: inline;
  line-height: 133%;
  text-decoration: underline;
  color: #4d5ae5;
  cursor: pointer;
}

.modal-button-send {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-weight: 500;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button-send:hover,
.modal-button-send:focus {
  background: #404bbf;
}

/*------------------------Modal Window 768px----------------------*/
@media (min-width: 768px) {
  .modal-window {
    width: 408px;
    height: 584px;
    padding: 72px 24px 24px 24px;
  }
}

/*------------------------Modal Menu----------------------*/

.modal-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  background-color: #fff;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);

  opacity: 0;
  pointer-events: none;
}

@media (min-width: 768px) {
  .modal-menu-container {
    display: none;
  }
}

.modal-menu-container.is-open {
  opacity: 1;
  pointer-events: all;
}

.modal-menu {
  position: absolute;
  display: flex;
  align-content: center;
  flex-direction: column;
  top: 0;
  left: 0;
  max-width: 320px;
  height: 100%;
  padding: 72px 24px 40px 16px;
  border-radius: 4px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-widow-close-button {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  padding: 0;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: #e7e9fc;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  cursor: pointer;
}

.icon-close {
  display: block;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-widow-close-button:hover,
.modal-widow-close-button:focus {
  border: none;
  background-color: #404bbf;
}

.modal-widow-close-button:hover .icon-close,
.modal-widow-close-button:focus .icon-close {
  fill: white;
}

.modal-menu-list {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}

.modal-menu-list-item .link {
  display: block;
  margin: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  text-decoration: none;
  color: #2e2f42;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-list-item .link:hover,
.modal-menu-list-item .link:focus {
  color: #404bbf;
}

.modal-menu-address {
  margin-top: auto;
  margin-bottom: 48px;
}

.modal-menu-address-list {
  display: flex;
  flex-direction: column;
  row-gap: 24px;
}

.modal-menu-address-list-item .link {
  display: block;
  margin: 0;
  text-decoration: none;
  font-weight: 500;
  font-size: 20px;
  line-height: 117%;
  color: #434455;
  font-style: normal;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-address-list-item .link:hover,
.modal-menu-address-list-item .link:focus {
  color: #4d5ae5;
}

.modal-menu-icon-list {
  display: flex;
  column-gap: 40px;
}

.modal-menu-icon-list-item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #4d5ae5;
  cursor: pointer;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-menu-icon-list-item .link:hover,
.modal-menu-icon-list-item .link:focus {
  background-color: #31d0aa;
}
